<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>New product</h1>

  <%= render 'form' %>

  <%= link_to 'Back', products_path %>
  
</body>
</html>
