<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Products#show</h1>
  <p>Find me in app/views/products/show.html.erb</p>
  <p> <%= product.formatted_price %> </p>

</body>
</html>
